@font-face {
  font-family: "dk_hangmans_delightregular";
  src: url("../fonts/dk_hangmans_delight-webfont.woff2") format("woff2"),
    url("../fonts/dk_hangmans_delight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: gray;
  font: "dk_hangmans_delight";
  font-weight: bold;
}

header,
footer {
  color: black;
  font-family: "dk_hangmans_delightregular", normal;
  font-size: 48px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 30px;
}

footer {
  font-size: 48px;
  padding: 0;
  margin: 10px;
}

/*
section {
  background: #a90808;
  border-radius: 10px;
  padding: 15px;
  width: 605px;
  margin: auto;
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}*/

#container {
  width: 1500px;
  height: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 10px;
  border: 5px outset;
  border-radius: 10%;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}

img {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

aside {
  background-color: green;
}

#category {
  justify-self: center;
  font-family: "dk_hangmans_delightregular";
  font-size: 64px;
  color: black;
}

#correctCharsContainer {
  background-color: blue;
}

.correctChar {
  font-size: 50pt;
  font-family: "dk_hangmans_delightregular";
  letter-spacing: 30px;
  text-align: center;
  margin: 2px;
}

#errorContainer {
  background-color: cyan;
}

#error > #errorCount.errors {
  color: white;
  font-size: 64px;
  margin: 10px; /* ajustar esse valor*/
  width: 111px;
  color: white;
}

#error.errors {
  width: 200px;
  background-color: lawngreen;
  /* justify-self: end;
  align-self: start; */
}

.errors {
  font-family: "dk_hangmans_delightregular";
  font-size: 64px;
  align-self: start;
  /*margin: 30px;*/
}

aside input {
  background-color: cadetblue;
  align-self: center;
  width: 100px;
  height: 84px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

button {
  grid-area: restartButton;
  margin-top: 10px;
  border-radius: 15%;
  padding: 15px;
  transition: 0.3s;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 64px;
  font-family: "dk_hangmans_delightregular";
  text-align: center;
}

button:hover {
  background: #c1c1c1;
  transform: scale(1.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  color: white;
}

input.finished {
  display: none;
}
