@font-face {
  font-family: "dk_hangmans_delightregular";
  src: url("../fonts/dk_hangmans_delight-webfont.woff2") format("woff2"),
    url("../fonts/dk_hangmans_delight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #a90808;
  font: "dk_hangmans_delight";
  font-weight: bold;
}

header,
footer {
  color: black;
  font-family: "dk_hangmans_delightregular", normal;
  font-size: 48px;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 30px;
}

footer {
  font-size: 48px;
  padding: 0;
  margin: 10px;
}

/*
section {
  background: #a90808;
  border-radius: 10px;
  padding: 15px;
  width: 605px;
  margin: auto;
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}*/

#container {
  width: 1500px;
  height: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4 1fr);
  gap: 0px;
  justify-items: center;
  border: 5px outset;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
}

img {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: left;
  width: 700px;
  height: 700px;
  margin: 30px 10px 10px;
}

#category {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: center;
  font-family: "dk_hangmans_delightregular";
  font-size: 64px;
  color: black;
}

#correctCharsContainer {
  grid-area: 2 / 1 / 3 / 4;
}

.correctChar {
  width: 45px;
  font-size: 50pt;
  font-family: "dk_hangmans_delightregular";
  letter-spacing: 30px;
  text-align: center;
  margin: 2px;
}

#error {
  /* Não sei o que fazer aqui */
  /* Esse é o elemento pai que impede as grid-areas daqui pra frente */
}

#error > #errorCount.errors {
  grid-area: 3 / 1 / 4 / 2;
  background-color: cyan;
  color: white;
  font-size: 64px;
  margin: 10px; /* ajustar esse valor*/
  width: 111px;
  color: white;
}

#error.errors {
  grid-area: 3 / 3 / 4 / 4;
  width: 200px;
  background-color: lawngreen;
  /* justify-self: end;
  align-self: start; */
}

.errors {
  font-family: "dk_hangmans_delightregular";
  font-size: 64px;
  align-self: start;
  /*margin: 30px;*/
}

#error input {
  grid-area: 3 / 3 / 4 / 4;
  align-self: center;
  width: 100px;
  height: 84px;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

button {
  grid-area: restartButton;
  margin-top: 10px;
  border-radius: 15%;
  padding: 15px;
  transition: 0.3s;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: 64px;
  font-family: "dk_hangmans_delightregular";
  text-align: center;
}

button:hover {
  background: #c1c1c1;
  transform: scale(1.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  color: white;
}

input.finished {
  display: none;
}
